td {
    width: calc(100vmin / 8);
    height: calc(100vmin / 8);
    border-radius: 50%;
}

.blue {
    background: #00F;
    border: 1px dashed yellow;
}

.white {
    background: #FFF;
    border: 2px solid red;
}
